<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC予約管理表</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="./static/style.css">

</head>
<body>
    <h1>PC予約管理表</h1>
    
    <!-- 上書き保存ボタン -->
    <div class="button-container">
        <button id="saveButton">保存</button>
    </div>

    <div id="spreadsheet"></div>

    <script src="./static/script.js"></script>
</body>
</html>
